# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# VSCode 설정 (쓰는 경우)
.vscode/

# Build artifacts
build/
dist/
*.spec
*.exe

# System
.DS_Store
*.log

# Mac OS 쓰레기 파일
.DS_Store

# 모델 훈련 데이터
data/

# 이전 코드
__archive__/
